[Unit]
Description=TDK Test Agent Start
After=irmgr.service
Requires=irmgr.service

[Service]
ExecStart=/bin/sh -c '/var/TDK/StartTDK.sh'

[Install]
WantedBy=multi-user.target
