[Unit]
Description=TDK Test Agent Start
After=irmgr.service
Requires=irmgr.service

[Service]
ExecStartPre=/bin/sh -c 'cp -r /var/TDK /opt/'
ExecStart=/bin/sh -c '/opt/TDK/StartTDK.sh'

[Install]
WantedBy=multi-user.target
