##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2017 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################
#

#This section should have your device name. eg: If device name is RDKB-GW then the below section name and file name needs to be RDKB-GW.config
[sampleDevice.config]

#Setup type can be TDK/WEBPA. Currently only TDK approach is supported.
SETUP_TYPE = TDK

################################# 2.4GHZ WIFI DETAILS ######################################

#Unique WIFI 2.4GHZ SSID Name
SSID_2GHZ_NAME = WIFI-2.4

#WIFI 2.4GHZ SSID password
SSID_2GHZ_PWD = wifitest123

#WIFI 2.4GHZ SSID Invalid password
SSID_2GHZ_INVALID_PWD = mywifipassword

#WIFI 2.4GHZ SSID index. Index will be 1 for TDK and 10001 for WEBPA
SSID_2GHZ_INDEX = 1

#WIFI 2.4GHZ Radio index. Index will be 1 for TDK and 10000 for WEBPA
RADIO_2GHZ_INDEX = 1

#WIFI connection status log. wlan0 should be replaced by your wifi interface name
WLAN_2GHZ_SSID_CONNECT_STATUS = Device 'wlan0' successfully activated

#WIFI disconnection status log. wlan0 should be replaced by your wifi interface name
WLAN_2GHZ_SSID_DISCONNECT_STATUS = Device 'wlan0' successfully disconnected



################################# 5GHZ WIFI DETAILS ######################################

#Unique WIFI 5GHZ SSID Name
SSID_5GHZ_NAME = WIFI-5

#WIFI 5GHZ SSID password
SSID_5GHZ_PWD = wifitest123

#WIFI 5GHZ SSID Invalid password
SSID_5GHZ_INVALID_PWD = mywifipassword

#WIFI 5GHZ SSID index. Index will be 1 for TDK and 10101 for WEBPA
SSID_5GHZ_INDEX = 2

#WIFI 5GHZ Radio index. Index will be 1 for TDK and 10100 for WEBPA
RADIO_5GHZ_INDEX = 2

#WIFI connection status log. wlan1 should be replaced by your wifi interface name
WLAN_5GHZ_SSID_CONNECT_STATUS = Device 'wlan1' successfully activated

#WIFI disconnection status log. wlan1 should be replaced by your wifi interface name
WLAN_5GHZ_SSID_DISCONNECT_STATUS = Device 'wlan1' successfully disconnected

############################### Invalid test SSID ##########################################

SSID_INVALID_NAME = TEST_SSID

SSID_INVALID_PWD = rdk@1234

################################# WLAN CLIENT DETAILS ######################################

#Specify the WIFI client machine OS. Currently only UBUNTU is supported
WLAN_OS_TYPE = UBUNTU

#Client IP
WLAN_IP = XX.XX.XX.XX

#Client username
WLAN_USERNAME = username

#Client password
WLAN_PASSWORD = password

#WIFI interface name for 2.4GHZ incase any external wifi adapter is used. Configure interface name based on setup
WLAN_2GHZ_INTERFACE = wlan0

#WLAN client's WIFI interface name for 5GHZ incase any external wifi adapter is used. Configure interface name based on setup
WLAN_5GHZ_INTERFACE = wlan1

#Invalid interface name
WLAN_INVALID_INTERFACE = NoInt

#Keyword to fetch the WIFI Client's IPv4 address
WLAN_INET_ADDRESS = "inet addr"

#Keyword to fetch the WIFI Client's subnet mask address
WLAN_SUBNET_MASK = "Mask"

#Utility script to be placed in the WIFI Client machine. Configure the script location
WLAN_SCRIPT = /home/user/tdkbE2E_wlan.sh

################################# LAN CLIENT DETAILS ######################################

#Specify the LAN client machine OS. Currently only UBUNTU is supported
LAN_OS_TYPE = UBUNTU

#Client IP
LAN_IP = XX.XX.XX.XX

#Client username
LAN_USERNAME = username

#Client password
LAN_PASSWORD = password

#Client's ethernet interface name
LAN_INTERFACE = eth0

#Keyword to fetch the LAN Client's IPv4 address
LAN_INET_ADDRESS = "inet addr"

#Keyword to fetch the LAN Client's subnet mask address
LAN_SUBNET_MASK = "Mask"

#Utility script to be placed in the LAN Client machine. Configure the script location
LAN_SCRIPT = /home/user/tdkbE2E_lan.sh

################################# WAN CLIENT DETAILS ######################################

#Specify the WAN client machine OS. Currently only UBUNTU is supported
WAN_OS_TYPE = UBUNTU

#Client IP
WAN_IP = XX.XX.XX.XX
WAN_HTTP_IP = XX.XX.XX.XX
WAN_PING_IP = XX.XX.XX.XX
WAN_HTTPS_IP = XX.XX.XX.XX
WAN_FTP_IP = XX.XX.XX.XX

#Client username
WAN_USERNAME = username
WAN_FTP_USERNAME = username

#Client password
WAN_PASSWORD = password
WAN_FTP_PASSWORD = password

#Client's Ethernet interface name
WAN_INTERFACE = eth0

#Keyword to fetch the WAN IPv4 address
WAN_INET_ADDRESS = "inet addr"

#Utility script to be placed in the WIFI Client machine. Configure the script location
WAN_SCRIPT = /home/user/tdkbE2E_wan.sh

#Connection timeout
CONNECTION_TIMEOUT = 30

#################################NETWORK DETAILS#########################################

# IP to check if internet is accessible or not.
NETWORK_IP = XX.XX.XX.XX

# Port for http service validation. Port to be configured based on your web server installed
HTTP_PORT = 80

# Port for http service validation on WAN client. Port to be configured based on your web server installed
WAN_HTTP_PORT = 80

# Port for https service validation. Port to be configured based on your web server installed
HTTPS_PORT = 443

#Port for https service validation on WAN client. Port to be configured based on your web server installed
WAN_HTTPS_PORT = 443

#Domain name which should be resolved using nslookup
NSLOOKUP_DOMAIN_NAME = www.google.com

#################################CABLE MODEM DETAILS#########################################

# CM Configuration variables are applicable only for Broaband box type and not for RPI/Emulator

# Cable Modem IP type - IPV4/IPV6
CM_IP_TYPE = IPV6

# Cable Modem IP Address - IPV4/IPV6 address
CM_IP = XX.XX.XX.XX

