##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2017 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################
#

#This section should have your device name. eg: If device name is RDKB-GW then the below section name and file name needs to be RDKB-GW.config
[sampleDevice.config]

#Setup type can be TDK/WEBPA. Currently only TDK approach is supported.
SETUP_TYPE = TDK

#Unique WIFI 2.4GHZ SSID Name
SSID_2GHZ_NAME = WIFI-2.4
#WIFI 2.4GHZ SSID password
SSID_2GHZ_PWD = wifitest123
#WIFI 2.4GHZ SSID Invalid password
SSID_2GHZ_INVALID_PWD = mywifipassword
#WIFI 2.4GHZ SSID index. Index will be 1 for TDK and 10001 for WEBPA
SSID_2GHZ_INDEX = 1
#WIFI 2.4GHZ Radio index. Index will be 1 for TDK and 10000 for WEBPA
RADIO_2GHZ_INDEX = 1

#Unique WIFI 5GHZ SSID Name
SSID_5GHZ_NAME = WIFI-5
#WIFI 5GHZ SSID password
SSID_5GHZ_PWD = wifitest123
#WIFI 5GHZ SSID Invalid password
SSID_5GHZ_INVALID_PWD = mywifipassword
#WIFI 5GHZ SSID index. Index will be 1 for TDK and 10101 for WEBPA
SSID_5GHZ_INDEX = 2
#WIFI 5GHZ Radio index. Index will be 1 for TDK and 10100 for WEBPA
RADIO_5GHZ_INDEX = 2

#Specify the WIFI client machine OS. Currently only UBUNTU is supported
WLAN_OS_TYPE = UBUNTU
#WLAN client IP
WLAN_IP = XX.XX.XX.XX
#WLAN client username
WLAN_USERNAME = username
#WLAN client password
WLAN_PASSWORD = password
#WLAN client's WIFI interface name for 2.4GHZ incase any external wifi adapter is used
WLAN_2GHZ_INTERFACE = wlan0
#WLAN client's WIFI interface name for 5GHZ incase any external wifi adapter is used
WLAN_5GHZ_INTERFACE = wlan1
#Keyword to fetch the WIFI Client's IPv4 address
WLAN_INET_ADDRESS = "inet addr"
#Utility script to be placed in the WIFI Client machine
WLAN_SCRIPT = /home/user/tdkbE2E_wlan.sh
#WIFI connection status log
WLAN_2GHZ_SSID_CONNECT_STATUS = Device 'wlan0' successfully activated
WLAN_5GHZ_SSID_CONNECT_STATUS = Device 'wlan1' successfully activated
#WIFI disconnection status log
WLAN_2GHZ_SSID_DISCONNECT_STATUS = Device 'wlan0' successfully disconnected
WLAN_5GHZ_SSID_DISCONNECT_STATUS = Device 'wlan1' successfully disconnected

#Specify the LAN client machine OS. Currently only UBUNTU is supported
LAN_OS_TYPE = UBUNTU
#LAN client IP
LAN_IP = XX.XX.XX.XX
#LAN client username
LAN_USERNAME = username
#LAN client password
LAN_PASSWORD = password
#LAN client's ethernet interface name
LAN_INTERFACE = eth0
#Keyword to fetch the LAN Client's IPv4 address
LAN_INET_ADDRESS = "inet addr"
#Utility script to be placed in the LAN Client machine
LAN_SCRIPT = /home/user/tdkbE2E_lan.sh

#Specify the WAN client machine OS. Currently only UBUNTU is supported
WAN_OS_TYPE = UBUNTU
#WAN client IP
WAN_IP = XX.XX.XX.XX
#WAN client username
WAN_USERNAME = username
#WAN client password
WAN_PASSWORD = password
#WAN client's Ethernet interface name
WAN_INTERFACE = eth0
#Keyword to fetch the WAN IPv4 address
WAN_INET_ADDRESS = "inet addr"
#Utility script to be placed in the WIFI Client machine
WAN_SCRIPT = /home/user/tdkbE2E_wan.sh

#Connection timeout
CONNECTION_TIMEOUT = 30


